.btn{
    width:100%;
    border:3px solid black;
    background: none;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled){
    background-color: #80d4ff;
}

.btn.active{
    background-color: #00aaff ;
    color:white;
}

.btn.inactive {
    opacity: 0.3;
}   